:root {
  --color-black-1: rgba(0, 0, 0, 1);
  --color-black-2: rgba(29, 29, 29, 1);
  --color-black-3: rgba(40, 40, 40, 1);
  --color-error: rgba(235, 87, 87, 1);
  --color-grey-1: rgba(51, 51, 51, 1);
  --color-grey-2: rgba(79, 79, 79, 1);
  --color-grey-3: rgba(130, 130, 130, 1);
  --color-grey-4: rgba(189, 189, 189, 1);
  --color-grey-5: rgba(224, 224, 224, 1);
  --color-info: rgba(47, 128, 237, 1);
  --color-primary: rgba(200, 22, 25, 1);
  --color-secondary: rgba(255, 255, 255, 1);
  --color-succes: rgba(39, 174, 96, 1);
  --color-warning: rgba(226, 185, 59, 1);
  --color-white: rgba(255, 255, 255, 1);
  --dropshadow: 0px 4px 24px 0px rgba(9, 44, 76, 0.4);
  --heading-h1-font-family: "Inter", Helvetica;
  --heading-h1-font-size: 56px;
  --heading-h1-font-style: normal;
  --heading-h1-font-weight: 700;
  --heading-h1-letter-spacing: 0px;
  --heading-h1-line-height: 61px;
  --heading-h2-font-family: "Inter", Helvetica;
  --heading-h2-font-size: 48px;
  --heading-h2-font-style: normal;
  --heading-h2-font-weight: 700;
  --heading-h2-letter-spacing: 0px;
  --heading-h2-line-height: 52px;
  --heading-h3-font-family: "Inter", Helvetica;
  --heading-h3-font-size: 40px;
  --heading-h3-font-style: normal;
  --heading-h3-font-weight: 700;
  --heading-h3-letter-spacing: 0px;
  --heading-h3-line-height: 44px;
  --heading-h4-font-family: "Inter", Helvetica;
  --heading-h4-font-size: 32px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 700;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: 35px;
  --heading-h5-font-family: "Inter", Helvetica;
  --heading-h5-font-size: 24px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 700;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 26px;
  --heading-h6-font-family: "Inter", Helvetica;
  --heading-h6-font-size: 20px;
  --heading-h6-font-style: normal;
  --heading-h6-font-weight: 600;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 22px;
  --text-large-bold-font-family: "Inter", Helvetica;
  --text-large-bold-font-size: 20px;
  --text-large-bold-font-style: normal;
  --text-large-bold-font-weight: 700;
  --text-large-bold-letter-spacing: 0px;
  --text-large-bold-line-height: 28px;
  --text-large-font-family: "Inter", Helvetica;
  --text-large-font-size: 20px;
  --text-large-font-style: normal;
  --text-large-font-weight: 400;
  --text-large-letter-spacing: 0px;
  --text-large-line-height: 28px;
  --text-medium-bold-font-family: "Inter", Helvetica;
  --text-medium-bold-font-size: 18px;
  --text-medium-bold-font-style: normal;
  --text-medium-bold-font-weight: 700;
  --text-medium-bold-letter-spacing: 0px;
  --text-medium-bold-line-height: 25px;
  --text-medium-font-family: "Inter", Helvetica;
  --text-medium-font-size: 18px;
  --text-medium-font-style: normal;
  --text-medium-font-weight: 400;
  --text-medium-letter-spacing: 0px;
  --text-medium-line-height: 25px;
  --text-normal-bold-font-family: "Inter", Helvetica;
  --text-normal-bold-font-size: 16px;
  --text-normal-bold-font-style: normal;
  --text-normal-bold-font-weight: 700;
  --text-normal-bold-letter-spacing: 0px;
  --text-normal-bold-line-height: 22px;
  --text-normal-font-family: "Inter", Helvetica;
  --text-normal-font-size: 16px;
  --text-normal-font-style: normal;
  --text-normal-font-weight: 400;
  --text-normal-letter-spacing: 0px;
  --text-normal-line-height: 22px;
  --text-small-bold-font-family: "Inter", Helvetica;
  --text-small-bold-font-size: 14px;
  --text-small-bold-font-style: normal;
  --text-small-bold-font-weight: 700;
  --text-small-bold-letter-spacing: 0px;
  --text-small-bold-line-height: 19px;
  --text-small-font-family: "Inter", Helvetica;
  --text-small-font-size: 14px;
  --text-small-font-style: normal;
  --text-small-font-weight: 400;
  --text-small-letter-spacing: 0px;
  --text-small-line-height: 19px;
}